[Desktop Entry]
Name[it]=Editor del menu principale
Name=Main Menu Editor
Comment[be]=Рэдагаванне галоўнага меню праграм
Comment[bg]=Добавяне или премахване на програмите в основното меню
Comment[br]=Kemmañ roll an arloadoù diskouezet el lañser meur
Comment[bs]=Dodaj ili obriši programe sa glavnog menija
Comment[ca]=Afegiu o suprimiu aplicacions al menú principal
Comment[ca@valencia]=Afegiu o suprimiu aplicacions al menú principal
Comment[cs]=Přidat nebo odebrat aplikace v hlavní nabídce
Comment[da]=Tilføj eller fjern programmer fra hovedmenuen
Comment[de]=Anwendungen dem Hauptmenü hinzufügen oder löschen
Comment[el]=Προσθέστε ή αφαιρέστε εφαρμογές από το κύριο μενού
Comment[en_GB]=Add or remove applications from the main menu
Comment[es]=Añadir o quitar aplicaciones del menú principal
Comment[et]=Peamenüüs näidatavate rakenduste lisamine või eemaldamine
Comment[fi]=Lisää tai poista päävalikossa näytettäviä sovelluksia
Comment[fr]=Ajouter ou supprimer des applications à partir du menu principal
Comment[fur]=Zonte o gjave lis aplicazions dal menù principâl
Comment[gl]=Engadir ou desinstalar aplicativos desde o menú principal
Comment[he]=הוספה או הסרה של יישומים בתפריט הראשי
Comment[hu]=Alkalmazások hozzáadása vagy eltávolítása a főmenüből
Comment[id]=Tambah atau hapus aplikasi dari menu utama
Comment[it]=Aggiunge o rimuove applicazioni dal menu principale
Comment[lt]=Pridėti arba šalinti programas pagrindiniame meniu
Comment[lv]=Pievienot vai izņemt lietotnes no galvenās izvēlnes
Comment[nb]=Legg til eller fjern programmer fra hovedmenyen
Comment[pl]=Dodawanie i usuwanie programów z głównego menu
Comment[pt]=Adicionar ou remover aplicações do menu principal
Comment[pt_BR]=Altere quais aplicativos são mostrados no menu principal
Comment[ru]=Добавить или удалить приложения из главного меню
Comment[sk]=Pridáva alebo odstraňuje aplikácie z hlavnej ponuky
Comment[sl]=Dodajanje in odstranjevanje programov v osnovnem meniju
Comment[sr]=Додајте или уклоните програме приказане у главном изборнику
Comment[sr@latin]=Dodajte ili uklonite programe prikazane u glavnom izborniku
Comment[sv]=Lägg till eller ta bort program från huvudmenyn
Comment[te]=ప్రధాన జాబితా నుండి అనువర్తనాలు జోడించండి లేదా తొలగించండి
Comment[tr]=Ana menüye uygulama ekleyin ya da kaldırın
Comment[uk]=Додавання програм до головного меню або вилучення їх з нього
Comment[zh_CN]=从主菜单中增加或移除应用程序
Comment[zh_HK]=從主選單加入或移除應用程式
Comment[zh_TW]=從主選單加入或移除應用程式
Comment=Add or remove applications from the main menu
Exec=alacarte
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Settings;DesktopSettings;
NotShowIn=KDE;
Icon=alacarte
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=alacarte
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.44.2
